#drawer {
  margin-block: 2.625rem 5rem;

  .raffling {
    .input-numbers {
      display: flex;
      margin-block: 2.5rem 1.25rem;
      gap: 0.75rem;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      label {
        font: var(--label-small);
        color: var(--content-secondary);
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      div:focus-within label,
      input:hover + label {
        color: var(--content-brand);
      }

      input {
        padding: 0.25rem 0.5rem;
        width: 5.375rem;
        height: 3.5rem;
        background: var(--background-secondary);
        border: 1px solid var(--background-secondary);
        border-radius: 0.5rem;
        font: var(--display-small);
        color: var(--content-primary);
        text-align: center;
        outline: none;
        transition: 0.4s;

        &:hover {
          background: var(--background-tertiary);
          border-image: linear-gradient(to right, var(--gradient-border));
          border-image-slice: 1;

          &:focus {
            border-width: 2px;
          }
        }

        &:focus {
          border-width: 2px;
          background: var(--background-tertiary);
          border-image: linear-gradient(to right, var(--gradient-border));
          border-image-slice: 1;
        }
      }

      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .content-switch {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 2.5rem;

      .switch {
        position: relative;
        width: fit-content;

        input,
        input:focus,
        input:hover {
          all: unset;
          position: absolute;
          inset: 0;
        }

        .toggle {
          position: relative;
          width: 1.875rem;
          height: 1.25rem;
          background: var(--content-tertiary);
          border-radius: 1rem;

          transition: 0.4s;
          pointer-events: none;

          &::before {
            position: absolute;
            content: "";
            width: 0.875rem;
            height: 0.875rem;
            left: 0.25rem;
            top: calc(50% - 0.875rem / 2);
            background: var(--content-primary);
            border-radius: 50%;

            transition: 0.4s;
            pointer-events: none;
          }
        }

        &:has(:checked) {
          .toggle {
            background: linear-gradient(to right, var(--gradient-background));

            &::before {
              transform: translateX(0.531rem);
            }
          }
        }
      }
    }
  }

  .drawn {
    h2 {
      text-align: center;
    }

    .results {
      display: flex;
      justify-content: center;
      gap: 0.25rem;
      margin-block: 2.5rem;
      flex-wrap: wrap;

      .container-number {
        width: 6.25rem;
        height: 6.25rem;
        background: var(--content-brand);
        background: var();
        border-radius: 1.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: containerAnim 6s forwards;

        span {
          font-family: var(--font-roboto-mono);
          font-style: normal;
          font-weight: 700;
          font-size: 3rem;
          line-height: 150%;
          text-transform: uppercase;
          color: var(--color-inverse);
          animation: colorText 6s forwards;
        }
      }
    }
  }
}

@media (width > 425px) {
  #drawer {
    grid-area: drawer;
    margin: 0;

    legend {
      p {
        font: var(--paragraph-large);
      }
    }
  }
}

@keyframes containerAnim {
  0% {
    transform: scale(0.1);
    background: var(--content-brand);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  25% {
    transform: scale(1.1);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  }
  50% {
    transform: scale(1);
    background: var(--content-brand);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  100% {
    transform: scale(1) rotate(360deg);
    background: transparent;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  }
}

@keyframes colorText {
  0% {
    transform: rotate(0deg);
    color: var(--color-inverse);
  }
  50% {
    transform: rotate(0deg);
    color: var(--color-inverse);
  }
  100% {
    transform: rotate(-360deg);
    color: var(--content-brand);
  }
}
