main {
  margin: 2.875rem 2.25rem;

  #title {
    sub {
      font: var(--overline);
      background: linear-gradient(to right, var(--gradient-content));
      -webkit-background-clip: text;
      color: transparent;
      text-transform: uppercase;
    }
  }

  #drawer {
    margin-block: 2.625rem 5rem;

    fieldset {
      border: none;

      .input-numbers {
        display: flex;
        margin-block: 2.5rem 1.25rem;
        gap: 0.75rem;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        label {
          font: var(--label-small);
          color: var(--content-secondary);
          text-transform: uppercase;
        }

        input {
          padding: 0.25rem 0.5rem;
          width: 5.375rem;
          height: 3.5rem;
          background: var(--background-secondary);
          border: 1px solid var(--background-secondary);
          border-radius: 0.5rem;
          font: var(--display-small);
          color: var(--content-primary);
          text-align: center;
        }
      }

      .content-switch {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 2.5rem;

        .switch {
          position: relative;
          width: fit-content;

          input,
          input:focus,
          input:hover {
            all: unset;
            position: absolute;
            inset: 0;
          }

          .toggle {
            position: relative;
            width: 1.875rem;
            height: 1.25rem;
            background: linear-gradient(to right, var(--gradient-background));
            border-radius: 1rem;

            transition: 0.4s;
            pointer-events: none;

            &::before {
              position: absolute;
              content: "";
              width: 0.875rem;
              height: 0.875rem;
              left: 0.25rem;
              top: calc(50% - 0.875rem / 2);
              background: var(--content-primary);
              border-radius: 50%;

              transition: 0.4s;
              pointer-events: none;
            }
          }

          &:has(:checked) {
            .toggle {
              &::before {
                transform: translateX(0.531rem);
              }
            }
          }
        }
      }
    }
  }
}
